@import "tailwindcss";

/* Font declaration must be OUTSIDE of body */
@font-face {
  font-family: 'Cocogoose';
  src: url('/fonts/cocogoose/Cocogoose Pro-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Now your global styles */
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: system-ui, sans-serif;
}
